* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --greenLight: #4e9525;
  --greenDark: #2e5a1c;
  --orangeSpec: #ff5c00;
  --whiteSpec: #edf0c7;
}

.header {
  display: flex;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.logoEmpresa {
  padding: 0 10px;
  height: 75px;
  vertical-align: middle;
  line-height: 80px;
  width: auto;
}

nav {
  background: var(--greenDark);
  height: 80px;
  width: 100%;
}

label.logo {
  color: var(--whiteSpec);
  font-size: 36px;
  line-height: 80px;
  padding: 0 10px;
  font-weight: bold;
  vertical-align: middle;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: var(--whiteSpec);
  font-size: 17px;
  padding: 7px 13 px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: var(--greenLight);
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: var(--whiteSpec);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 1000px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 1020px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--greenDark);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: var(--orangeSpec);
  }
  #check:checked ~ ul {
    left: 0;
  }
}

main {
  background: url(../img/grass_background.jpeg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

.container {
  padding-top: 4rem;
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
  height: 100%;
}

.grid-container {
  display: grid;
  padding-top: 2rem;
  grid-template-columns: auto auto;
  grid-gap: 1em;
  place-items: center;
  align-items: center;
  justify-items: center;
}

#jumbotron {
  margin: auto;
  width: 80%;
  border: 3px solid var(--greenDark);
  align-content: center;
  background-color: var(--whiteSpec);
  background-size: cover;
  padding: 2rem 0;
}

#jumbotron .title {
  font-size: 3rem;
  font-weight: 600;
}

#jumbotron .text {
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

.thumbnail {
  width: 60%;
}

/*:::::Pie de Pagina*/
.pie-pagina {
  width: 100%;
  background-color: var(--orangeSpec);
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}
.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: var(--greenDark);
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: var(--greenLight);
}
.pie-pagina .grupo-2 {
  background-color: var(--greenDark);
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}
@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
